@import "./colors.css";

* {
    font-family: GeistMono NF;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background-color: @base00;
    color: @base07;
}

#workspaces {
    font-size: 12px;
    padding: 0 5px;
    padding-left: 11px;
    margin: 0 5px;
    border-radius: 8px;
    /* background-color: #191724; */
    background-color: @base00;
}

#workspaces button {
    border-radius: 99px;
    margin-right: 10px;
    font-weight: bolder;
    background-color: transparent;
}

#workspaces button.active,
#workspaces button.focused {
    color: @base07;
    font-size: 14px;
}

#custom-mic {
    padding: 0 10px;
}

#tray,
#sway-mode,
#pulseaudio,
#battery,
#custom-mic,
#bluetooth,
#custom-wlsunset,
#clock,
#network {
    padding: 0 10px;
    font-size: 14px;
    background: @base00;
}

#network,
#bluetooth,
#pulseaudio,
#custom-mic,
#custom-wlsunset {
    color: @base0B;
}

#network {
    border-radius: 8px 0 0 8px;
}

#custom-mic {
    border-radius: 0 8px 8px 0;
}

#bluetooth .connected {
    color: @base0A;
}

#image-test {
    padding: 10px;
}

#battery {
    margin-left: 8px;
    border-radius: 8px 0 0 8px;
}

#tray {
    border-radius: 0 8px 8px 0;
}

#submap {
    background-color: @base0F;
    color: @base07;
    border-radius: 15px;
    margin: 5px 0;
    padding: 0 10px;
}
